@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>About Application</h2>
</div>

<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium veritatis odio, quaerat mollitia provident exercitationem adipisci officia, pariatur nostrum minima consequuntur eum, sint consectetur error eius accusantium ullam similique.</p>
</div>


<div>
    <h2>About Developer</h2>
</div>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto tempore, consectetur, similique consequuntur qui quia quae magnam praesentium ad est perferendis omnis vero error deleniti quod maiores quo debitis distinctio.</p>
</div>
