@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>About Developer</h2>
</div>

<div>
    <ul>
        <li>Linkedin</li>
        <li>GitHub</li>
        <li>anthonycamano@live.com</li>
    </ul>
</div>

<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium veritatis odio, quaerat mollitia provident exercitationem adipisci officia, pariatur nostrum minima consequuntur eum, sint consectetur error eius accusantium ullam similique.</p>
</div>


