@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="grid-container">
    <div class="predictMap grid-item">
        @* <img src="ctaMap.png" alt="CTA Map" height="1200" width="900"> *@
    </div>
    @* <div class="searchStops grid-item">Search</div> *@
    <div class="searchStops grid-item"><input type="search" value="Search"></div>

    <div class="trainStops grid-item">
        <ul>
            <li class="chip">
                <p>Red</p>
            </li>
            <li class="chip">
                <p>Purple</p>
            </li>
            <li class="chip">
                <p>Blue</p>
            </li>
            <li class="chip">
                <p>Orange</p>
            </li>
            <li class="chip">
                <p>Brown</p>
            </li>
            <li class="chip">
                <p>Pink</p>
            </li>

        </ul>
    </div>
    <div class="topStopInfo grid-item">
        <div class="info">one</div>
        <div class="info">two</div>
        <div class="info">three</div>
    </div>
    <div class="bottomStopInfo grid-item">
        <div class="info">one</div>
        <div class="info">two</div>
        <div class="info">three</div>
    </div>
</div>