
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red !important; */
}

/* -------------------------------navigation------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E7E9EE;
}

.navHome a{
  font-size: 1.5rem;
  margin: 5rem;
  text-decoration: none;
  color: black;
}

.navItems ul {
  margin: 0;
  padding: 0;
  padding-right: 5rem;
  display: flex;
}

.navItems li {
  list-style: none;
  color: black;
}

.navItems li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: black;
}

.navItems li:hover {
  background-color: #5179df;
}

.navItems li a:hover {
  color: #E7E9EE;
}

/* -------------------------------GRID map&info------------------------------- */

.predictMap {
  grid-area: predictMap;
  border: 3px solid #E7E9EE;
  /* padding: 1fr 1fr ; */
}

.searchStops {
  grid-area: searchStops;
}

.trainStops {
  grid-area: trainStops;
}

.topStopInfo {
  grid-area: topStopInfo;
}

.bottomStopInfo {
  grid-area: bottomStopInfo;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas: 
  "predictMap searchStops"
  "predictMap trainStops"
  "predictMap topStopInfo"
  "predictMap bottomStopInfo";
}

.grid-item{
  /* background-color: rgba(90, 124, 89, 0.534); */
  /* grid-row: 1em;
  grid-column: 1em; */
}

/* -------------------------------search------------------------------- */



/* -------------------------------trainchips------------------------------- */

.chip {
  display: inline-block;
  list-style-type: none;
  border: 2px solid #E7E9EE;
  padding: 2px;
  border-radius: 50px;
  text-align: center;
}

/* -------------------------------traininfo------------------------------- */

.info {
  background-color: #E7E9EE;
  border: 5px solid black;
}