
* {
  padding: 0;
  margin: 0;
}



.predictMap {
  grid-area: predictMap;
  border: 3px solid #E7E9EE;
  /* padding: 1fr 1fr ; */
}

.searchStops {
  grid-area: searchStops;
}

.trainStops {
  grid-area: trainStops;
}

.topStopInfo {
  grid-area: topStopInfo;
}

.bottomStopInfo {
  grid-area: bottomStopInfo;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas: 
  "predictMap searchStops"
  "predictMap trainStops"
  "predictMap topStopInfo"
  "predictMap bottomStopInfo";
}

.grid-item {
  background-color: rgba(90, 124, 89, 0.534);
  /* grid-row: 1em;
  grid-column: 1em; */
}

div .chip {
  list-style-type: none;
  border: 2px solid #E7E9EE;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
}

